html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  /* background-color: #a9a9a9; */
  background: linear-gradient(35deg, rgba(36, 25, 3, 1) 0%, rgba(225, 150, 144, 1) 400%, rgba(25, 33, 66, 1) 100%);
}

body {
  width: 80vw;
  min-width: 800px;
  margin: 0 auto;
  height: 100vh;
}
header {
  margin-bottom: 10px;
}
header, nav {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
}
h1 {
  text-transform: uppercase;
  color: white;
}
nav{
  height: 50px;
}

nav ul{
  display: flex;
  }

nav li{
  list-style-type: none;
  text-align: center;
  flex: 1;
}

nav a, nav span{
  font-size: 2rem;
  height: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: red;
}
  
main h2{
  text-transform: uppercase;
  height: 50px;
  font-size: 3rem;
  font-style: italic;
  }

 main h3{
  text-transform: uppercase;
  height: 50px;
  font-size: 3rem;
}

 main h4{
  text-transform: uppercase;
  height: 5px;
  font-size: 3rem;
}
main p{
  text-transform: uppercase;
  font-size: rem;
  font-style: italic;
  }

 h5{
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-right: 150px;
}
.wrapper{
  margin: 0 auto;
  width: 1000px;
  
}

.img-hogwarts{
  width: 300px;
  height: 200px;
  float: left;
  margin-bottom: -8px;
  
}
.img-landscape{
  width: 300px;
  height: 200px;
  float: right;
  
}
.img-hermione{
  width: 300px;
  height: 200px;
  margin-left: 350px;
  margin-top: -505px;
  }
nav h6{
  text-align: center;
  font-size: 3rem;
  float: left;
  margin-top: 5px;
 }
 p{
  font-style: italic;
  font-size: 3rem;
  color: white;
  margin-right: 600px;
}
ol{
  font-size: 3rem;
  float: left;
  margin-top: -16px;
  margin-left: -37px;
 }
.img-herry{
  width: 700px;
  height: 500px;
  margin-left: 650px;
  margin-top: -195px
  
} 


footer{
  padding: 1%;
  background-color: rgba( 250, 150, 105, 55, 0.5);
 }

 ul{
  display: flex;
}
 li{
  list-style-type: none;
  text-align: center;
  flex: 3;
  margin-top: -23px;
  
}
ul a, ul span{
  font-size: 2rem;
  margin-left: 38px;
  height: 300px;
  text-transform: uppercase;
  text-decoration: none;
  color: red;
}
h6{
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 3rem;
  color: white;
 }
p{
  font-family:"Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  float: left;
  
}


 

  




  
  


 




  
  
  
  
  
  
    
    
  
  
  
  
  
    
  
  
    
    
    
  
  
  